github "Alamofire/Alamofire" == 5.5.0
github "psharanda/Atributika" == 4.9.10
github "adjust/ios_sdk" "v4.29.6"
github "roberthein/TinyConstraints"
github "Swinject/Swinject" == 2.7.1
github "CocoaLumberjack/CocoaLumberjack" == 3.6.2
github "ReSwift/ReSwift" == 6.1.0
github "ReSwift/ReSwift-Thunk" == 2.0.1
github "Quick/Nimble" "v9.2.1"
github "Quick/Quick" "v4.0.0"
